<h2>Feed <%= @user.email %></h2>
<p>Followers: <%= @user.followers_count %></p>

<ul>
    <% @user.feed_posts.each do |post| %>
        <%= render post %>
        <p>
        <%= link_to "Show this post", post %>
        </p>
    <% end %>
</ul>

<% unless current_user == @user %>
  <% if current_user.following?(@user) %>
    <p>You are following!</p>
    <%= button_to "Unfollow", relationship_path(current_user.active_relationships.find_by(followed_id: @user.id)), method: :delete %>
  <% else %>
    <%= button_to "Follow", relationships_path(followed_id: @user.id), method: :post %>
  <% end %>
<% end %>

<%= link_to "Back to posts", posts_path %>
