<p style="color: green"><%= notice %></p>

<%= render @post %>


<div>
  <% if current_user == @post.user %>
    <%= link_to "Edit this post", edit_post_path(@post) %> |
  <% end %> 
  <%= link_to "Back to posts", posts_path %>

  <%= button_to "Destroy this post", @post, method: :delete %>
</div>

<div>
  <h5>Comments:</h5>
  <% @post.comments.each do |comment| %>
    <%= render partial: 'comments/comment', locals: { comment: comment } %>
  <% end %>
  <%= render 'comments/form', post: @post %>
</div>