<%= render @post %>


<div>
  <% if current_user == @post.user %>
    <%= link_to "Edit this post", edit_post_path(@post) %> |
  <% end %> 
  <%= link_to "Back to posts", posts_path %>

  <%= button_to "Destroy this post", @post, method: :delete %>
</div>

<div>
  <p><%= pluralize(@post.likes.count, 'like') %></p>
  <% if @post.likes.exists?(user_id: current_user.id) %>
    <%= button_to "Unlike", post_like_path(@post, @post.likes.find_by(user_id: current_user.id)), method: :delete %>
  <% else %>
    <%= button_to "Like", post_likes_path(@post), method: :post %>
  <% end %>
</div>

<div>
  <%= render 'comments/form', post: @post %>
  ____________________________________
  <h5>Comments:</h5>
  <% @post.comments.each do |comment| %>
    <%= render partial: 'comments/comment', locals: { comment: comment } %>
  <% end %>
</div>